# calculate interest
# interest=(p*r*t)/100

In [8]:
# defining a function 

def cal_interest(p,r,t): #arguments
    interest=(p*r*t)/100
    print("Interest=",interest)

In [9]:
# calling a function 
cal_interest(100000,5,5) # parameter

Interest= 25000.0

In [3]:
cal_interest(50000,2,1)

Interest= 1000.0

In [4]:
# create a function for printing table of any number

In [ ]:
# *args=This will act like a tuple inside a function 
# used for accepting multiple parameter in one argument

In [10]:
def information(*args):
    print(f"Values:{args}")
    print(f"type:{type(args)}")
    for i in args:
        print(i)

In [11]:
information(1,'shiavni','trainer',34566)

Values:(1, 'shiavni', 'trainer', 34566)
type:<class 'tuple'>
1
shiavni
trainer
34566

In [13]:
# return multiplication of a number 
# 2,4,6,3=144

In [14]:
def return_multiplication(*args):
    m=1
    for i in args:
        m=m*i
    return m

In [19]:
# return_multiplication(4,5)
lst=[2,4,5,6,7,8,9]

In [21]:
return_multiplication(*lst)

120960

In [16]:
return_multiplication(1,2,3,4)

24

In [17]:
return_multiplication(3,4,5,6,7,8,11,22,33,44,55)

389614579200

In [22]:
cart=[
    ('laptop',35000,1),
    ('keyboard',6000,2),
    ('mouse',200,5),
    ('mouse pad',100,10)
]

In [25]:
def print_info(*args):
    total_price=0
    # print information
    for name,price,qty in args:
        print(f"Name:{name},price:{price},Quantity:{qty}")
        print("-----------------------------------------------")
        total_price=total_price+price
    return f"Total Price={total_price}"

In [26]:
print_info(*cart)

Name:laptop,price:35000,Quantity:1
-----------------------------------------------
Name:keyboard,price:6000,Quantity:2
-----------------------------------------------
Name:mouse,price:200,Quantity:5
-----------------------------------------------
Name:mouse pad,price:100,Quantity:10
-----------------------------------------------

'Total Price=41300'

In [27]:
cart=[
    ('Smith',21,30000),
    ('alice',24,35000),
    ('gayatri',26,40000)
]

In [28]:
def emp_info(*args):
    sal=0
    for name,age,salary in args:
        print(f"Name:{name},age:{age},salary:{salary}")
        sal=sal+salary
    return f"Final salary={sal}"

In [29]:
emp_info(*cart)

Name:Smith,age:21,salary:30000
Name:alice,age:24,salary:35000
Name:gayatri,age:26,salary:40000

'Final salary=105000'

In [55]:
# *args=act as a tuple
# **kwargs=act as a dictionary

In [53]:
def display(**kwargs):
    print(f"values:{kwargs}")
    for key,value in kwargs.items():
        print(f"Key={key}\nvalue={value}")

In [56]:
display(name="shivani",job_role="trainer")

values:{'name': 'shivani', 'job_role': 'trainer'}
Key=name
value=shivani
Key=job_role
value=trainer

In [57]:
d={
   "empid":101,
   "empname":"soham",
   "age":24,
   "email":"abc@gmail.com" 
}

In [60]:
display(**d)

values:{'empid': 101, 'empname': 'soham', 'age': 24, 'email': 'abc@gmail.com'}
Key=empid
value=101
Key=empname
value=soham
Key=age
value=24
Key=email
value=abc@gmail.com

In [61]:
# lambda fuction =used for small calculation

In [73]:
add=lambda a,b:a+b

In [63]:
add(5,6)

11

In [64]:
add(11,22)

33

In [65]:
add(90,80)

170

In [66]:
sq=lambda a:a*a

In [67]:
sq(10)

100

In [68]:
sq(2)

4

In [69]:
cube=lambda a:a*a*a

In [70]:
cube(7)

343

In [71]:
cube(8)

512