# *args, **kwargs

In [1]:
# calculate area of rectangle

In [2]:
def area_of_rect(l,b):
    aor=l*b 
    print("Area of rectangle=",aor)

In [4]:
area_of_rect(3,4)

Area of rectangle= 12

In [5]:
area_of_rect(10,30)

Area of rectangle= 300

In [6]:
# *args

In [7]:
# sum of all values present in a parameter

In [ ]:
def cal_sum(*args): #(2,3,4)
    sum=0
    for i in args:
        sum=sum+i # sum=0+2=2+3=5+4=9
    return f"sum of all values={sum}"

In [9]:
cal_sum(2,3,4)

'sum of all values=9'

In [10]:
cal_sum(4,5,6,7,12,34,67)

'sum of all values=135'

In [ ]:
lst=[4,5,6,7,10,20,30,40,50]

In [13]:
# list unpacking 
cal_sum(*lst)

'sum of all values=172'

In [14]:
# **kwargs

In [15]:
def display_data(**kwargs):  #{"key":"values"}
    print(f"values: {kwargs}")

In [20]:
display_data(name="prashant",age=21,salary=20000)

values: {'name': 'prashant', 'age': 21, 'salary': 20000}

In [27]:
menu={
    "pizza":250,
    "maggie":50,
    "noodles":199,
    "burger":70,
    "coffee":50,
    "tea":20
}

In [22]:
menu.keys()

dict_keys(['pizza', 'maggie', 'noodles', 'burger'])

In [23]:
menu.values()

dict_values([250, 50, 199, 70])

In [24]:
menu.get("pizza")

250

In [25]:
menu.get("burger")

70

# perform billing for a restaurent

In [28]:
menu

{'pizza': 250,
 'maggie': 50,
 'noodles': 199,
 'burger': 70,
 'coffee': 50,
 'tea': 20}

In [31]:
def restaurent_billing(**kwargs):
    bill=0
    for food,qty in kwargs.items():
        amt=menu.get(food)*qty
        bill=bill+amt
        print(f"Food:{food},Quantity:{qty},amount:{amt}")
    return f"Total bill={bill}"

In [34]:
restaurent_billing(burger=2,coffee=3,tea=3)

Food:burger,Quantity:2,amount:140
Food:coffee,Quantity:3,amount:150
Food:tea,Quantity:3,amount:60

'Total bill=350'

# generator function

In [36]:
# 0,1,1,2,3,5,8,13,21

In [37]:
# while
# 1)initialisation
# 2)condition checking
# 3)increment / decrement 
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [39]:
i=1
sum=0
while i<=10:
    sum=sum+i
    i=i+1

In [41]:
sum
# print table of any number using while loop

55

In [42]:
i=1
n=int(input("Enter a number"))
while i<=10:
    print(n*i)
    i=i+1

4
8
12
16
20
24
28
32
36
40

In [43]:
# 0,1,1,2,3,5,8,13,21

In [45]:
i=1
a=0
b=1
c=0
while i<=8:
    print(c)
    a=b
    b=c
    c=a+b
    i=i+1
# a=1
# b=1
# c=2
# 0,1,1,

0
1
1
2
3
5
8
13

In [46]:
# generator 
# 1)yield
# 2)next

In [54]:
def fib_number():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b
# a=0,b=1
# a,b=1,2
# 0,1,1

In [55]:
result=fib_number()

In [56]:
for i in range(5):
    print(next(result))

0
1
1
2
3